.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 800px;
    width: 100%;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #f5b642;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
    margin: 5px 0;
    color: #ccc;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #f5b642;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons a {
    color: #f5b642;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #fff;
}
.social-icons a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}
