.write-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.input-text, .textarea {
    width: 90%;
    max-width: 900px;
    padding: 10px;
    margin: 10px 0;
    text-align: start;
    border-radius: 5px;
    border: 0.5px solid grey;
    box-sizing: border-box;
}

.textarea {
    height: 300px;
}

button {
    width: 80px;
    height: 35px;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

@media (max-width: 768px) {
    .input-text, .textarea {
        width: 95%;
    }
    
    .textarea {
        height: 250px;
    }
}

@media (max-width: 480px) {
    .input-text, .textarea {
        width: 100%;
    }
    
    .textarea {
        height: 200px;
    }
    
    button {
        width: 100%;
    }
}
